streamlit
bs4
transformers
langchain
torch
yt_dlp
langchain_groq
groq 
google.generativeai
selenium
webdriver_manager
langchain_cohere
langchain_community
langchain_google_genai
pypdf
PyPDF2
faiss-cpu
accelerate
requests
beautifulsoup4
fake-useragent
html2text
readability-lxml
trafilatura
extruct
w3lib